* {
	box-sizing: border-box;
	margin: 0;
}

ul {
    list-style: none;
}

#container {
	width: 100vw;
	height: 100vh;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
}

#sidebar {
	background-color: rgb(50, 190, 255);
    color: aliceblue;
    font-size: 1.5em;
    font-weight: 600;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
	grid-column: 1 / 2;
	grid-row: 1 / 6;

    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
}

#top {
	grid-column: 2 / 6;
	grid-row: 1 / 2;
}

#projects {
	background-color: rgb(207, 226, 236);
	grid-row: 2 / 6;
	grid-column: 2 / 5;
    gap: 10px;
    display: grid;
    
}

.card {
    background-color: aliceblue;
    border-radius: 4px;
    width: 300px;
}

#announcements {
	background-color: rgb(207, 226, 236);
	grid-area: 2 / 5 / 4 / 5;
}

#trending {
	background-color: rgb(207, 226, 236);
	grid-area: 4 / 5 / 6 / 6;
}
